.NavbarItems{
    max-height: 80px;
    align-items: center;
}

.NavbarItems > a{
    text-decoration: none;
    font: helvetica-w01-light - 400;
    line-height: 50px;
    font-size: 14px;
    border-right: 0.5mm solid gray;
    padding: 1px;
    padding-top: 10px;/*Para el tamaño del borde*/
    padding-bottom: 10px;/*Para el tamaño del borde*/
}

.NavbarItems > a > span:hover{
    color: orange
}

.NavbarItems > a:last-of-type{
    border-right: transparent;

}
.NavbarItems > a > span{
    margin: 15px;
    color: rgb(94, 91, 91);
}